.circle {
    position: fixed; /* Use absolute positioning */
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #465b52;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
    pointer-events: auto; /* Ensure the circle is clickable */
}

.popup {
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    text-align: center;
}
